html, body {
    height: 100%;
}

.fondo-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}

body {
    background-image: url('../uploads/fondo_montaña.jpg'); 
    background-size: cover; 
    background-position: center;
    background-attachment: fixed; 
    margin: 0;
}
h1, h3, p {
    color: white;
    text-shadow: 2px 2px 4px #000000;
    
}
.cuerpo p {
    text-shadow: none;
}
.footer p, h3{
    text-shadow: none;;
}

/* Contenedor principal */
.container-principal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
    gap: 0.5rem;
}

/* Columna central */
.div-central {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: 75%;
    border-right: 0.2rem solid #25384c;
}

.encabezado {
    font-size: 2rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(0, 0, 0);
    margin-bottom: 2rem;
}

/* Cuerpo de publicaciones */
.cuerpo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
    width: 100%;
}

/* Solo afecta las publicaciones en el index */
.pagina-index .p1 {
    width: 80rem
}

.pagina-index .titulo1 {
    font-size: 2.4rem;
}

.pagina-index .datos1 {
    font-size: 1.5rem;
}
.pagina-index .texto1 {
    font-size: 1.5rem;
}

.barra {
    display: flex;
    width: 100%;
    height: 3rem;
    border-bottom: 0.17rem solid #25384c;
    border-top: 0.17rem solid #25384c;
    justify-content: center;
    align-items: center;

}

/* Columna lateral */
.div-derecho {
    display: flex;
    flex-direction: column;
    width: 25%;
    gap: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

.populares {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 50rem;
}

.formulario {
    height: 20rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.div-inferior-derecho {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: auto;
}