* {
    margin-top: 10rem;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}  

body {
    background-color: #28535f;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}



/* Contenedor del formulario */
.contenedor__todo {
    display: flex;
    justify-content: center;
}

/* Formulario de Login */
.contenedor__Login-register {
    width: 100%;
    max-width: 380px;
    background: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.contenedor__Login-register form {
    width: 100%;
    text-align: center;
}

.contenedor__Login-register form h2 {
    font-size: 24px;
    color: #28535f;
    margin-bottom: 20px;
}

.contenedor__Login-register form input {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    background: #f2f2f2;
    font-size: 16px;
    outline: none;
    border-radius: 5px;
}

.contenedor__Login-register form button {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    border: none;
    font-size: 16px;
    background: #4f7b87;
    color: #fff;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    transition: background 0.3s ease-in-out;
}

.contenedor__Login-register form button:hover {
    background: #28535f;
}



/* Responsividad */
@media screen and (max-width: 600px) {
    .contenedor__Login-register {
        padding: 30px;
    }

    .contenedor__Login-register form h2 {
        font-size: 22px;
    }

    .contenedor__Login-register form input {
        font-size: 14px;
        padding: 8px;
    }

    .contenedor__Login-register form button {
        font-size: 14px;
        padding: 10px;
    }
}
