
/* Estilos generales */
html {
    font-size: 62.5%;
  }
  
  body {
    font-size: 16px; /* 1 rem = 10px */
    background-color: rgb(233, 232, 232);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }  

/*Estilos de texto*/

.titulo {
    font-size: 3rem;
    font-weight: 800;
    color: rgb(26, 26, 26);
    text-align: center;
  }
  
.titulo2 {
    font-size: 2.5rem;
    font-weight: 800;
    text-align:center;
    color: rgb(26, 26, 26);
  }
  
.titulo3 {
    font-size: 2rem;
    font-weight: 800;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: left;
    color: rgb(26, 26, 26);
  }
  
.parrafo {
    font-size: 1.5rem;
    font-weight: 800;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: justify;
    color: rgb(26, 26, 26);
  }

  .contenedor {
    margin: 2rem 8rem;
  }