/* Reset y configuración básica */
html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */
    scroll-behavior: smooth;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f5f5f5;
    color: #333;
}

/* Cuadro Superior */
.cuadrosuperior {
    background-color: #6d9aa6;
    width: 100%;
    padding: 3rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
}

.titulo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #000;
    line-height: 1.2;
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    gap: 0.5rem; 
    padding-left: 2rem;
}

.titulo h3 {
    font-size: 2.4rem;
    margin: 0;
    font-weight: normal;
    color: #333;
    z-index: 1;
    margin-top: 3rem;
}

.titulo h1 {
    font-size: 4rem;
    margin: 0.1rem 0 0;
    font-weight: bold;
    color: #000;
}



/* Cuerpo */
.cuerpo {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    background-color: #d9d9d9;
}

.info {
    flex: 1 1 60%;
    background-color: rgb(240, 240, 240);
    padding: 2rem;
    border-radius: 1.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    text-align: center;
}

.texto {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 1.5rem;
    line-height: 1.8;
}

.foto {
    flex: 1 1 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 1.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.img {
    width: 100%;
    height: auto;
    border-radius: 1.5rem;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.img:hover {
    transform: scale(1.05);
}


/* Media Queries */
@media (max-width: 1024px) {
    .titulo h3 {
        font-size: 2rem;
    }
    .titulo h1 {
        font-size: 3.4rem;
    }
    .texto {
        font-size: 1.6rem;
    }
}

@media (max-width: 768px) {
    .cuerpo {
        flex-direction: column;
    }
    .info {
        width: 90%;
    }
    .foto {
        width: 80%;
    }
}

@media (max-width: 480px) {
    .titulo {
        padding-left: 1rem;
    }
    .titulo h3 {
        font-size: 1.6rem;
    }
    .titulo h1 {
        font-size: 2.6rem;
    }
    .texto {
        font-size: 1.4rem;
    }
    .info, .foto {
        width: 100%;
    }
}
